body{
  background-image: url("../images/Background.jpg");
  background-color: #F7F7F5;
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
 
.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  margin: 20px;

}

nav{
  padding-top: 30px;
  font-size: 11pt;
  font-weight: 600;
}

.child1{
  width: 80px;
}

.child2{
  width: 83%;
  display: flex;
  position: sticky;
}

.top{
  text-align:center;
  align-items: center;
  height: 600px;
  padding-bottom: 70px;
}

.introme{
  text-align: left;
  padding-left: 250px;
}

.introsig{
  padding-left:25px;
  width: 70px;
}

.Intropic{
  width: 55%;
}

h1{
  font-family: 'Abril Fatface', cursive;
  font-size: 68pt;
  padding-bottom: 0;
  color: #263627;

}

h2{
  font-family: 'Abril Fatface', cursive;
  color: #B25B5B;
  font-size: 18pt;
}

.graphicpng{
  text-align: center;
  justify-content: center;
}
.nav-link{
  color: #263627;
  padding-right: 40px;
}

.nav-link:hover{
  color: #B25B5B;
  letter-spacing: 1px;
  transition: .5s ease-in-out;
}

p{
  color: #263627;
  font-size: 18px;
}

.port{
  
  background-color:#B25B5B;
  color: white;
  font-weight: 600;
  border:none;
  margin-top: 15px;
  transition: .25s ease-in;
}

.port:hover{
  background-color: #CBCFCA;
 
}

.card-img-top{
  text-align: center;
  width: 75%;
}

.card-deck{
 justify-content:center;
 margin: 20px;
}

.card{
  border: none;
  background-color: transparent;
  justify-content: center;
  
}

.card-img{
  justify-content: center;
  text-align: center;
}

.card-body{
  width: 400px;
  padding-left: 130px;
}

.card-text{
  font-size: 13px;
}

.mood{
  justify-content: center;
  margin: 10px;
}

.moodb{
  text-align: center;
}

footer{
  text-align: center;
}

.portsig{
  height: 50px;
  margin-bottom: 60px;

}

h5{
  font-weight: 600;
  padding-top: 25px;
}

.moodsig{
  height: 55px;
  margin-bottom: 60px;
}

.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
}

.row{
  width: 100%;
  align-items: center;
}

.projecttitle{
  padding-top: 50px;
  padding-bottom: 50px;
}

.role1{
  text-align: left;
  justify-content: center;
  align-items: center;
  padding-left: 180px;
}

.role2{
  justify-content: left;
  text-align: left;
}

h3{
  font-weight: 600;
}

.OC_HI {
  padding-bottom: 45px;
}

.OC_HI video {
  width:80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutmep{
  width: 500px;
}

.intromep{
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 100px;
}

.icons{
  width: 45px;
  }


.Mepic{
  width: 75%;
}

footer{
  height: 90px;
  justify-content: center;
  display: block;
}

footer a{
  color: #B25B5B;
  padding: 25px;
  transition: .25s ease-in;
}

footer a:hover{
  color: #263627;
  text-decoration: none;
}

.social{
  padding: 25px;
}

.social a{
  color: #263627;
  padding: 15px;
  transition: .25s ease-in;
}

.social a:hover{
  color: #B25B5B;
  text-decoration: none;
}

#fp{
  text-align: center;
  padding-bottom: 25px;
}

#fp p{ 
font-size: 11pt;
}

strong{
  color: #B25B5B;
}

.pres{
  background-color:#B25B5B;
  color: white;
  font-weight: 600;
  border:none;
  margin-top: 15px;
  transition: .25s ease-in; 
}

.pres:hover{
 background-color: #263627;
}

#oldwebsite{
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;
}

#oldwebsite img{
  width: 80%;
  padding: 25px;
}

.preanim{
  transform: translateY(50px);
  opacity: 0;
}

#oldwebsite img{
 padding-top: 5px;
}

.anim {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1s ease-out, transform 1s;
}
#hoverTest {
  position: absolute;
  width: 58%;
  top: 25px;
  height: 167px;
  z-index: -1;
  /* display: block; */
  margin: 0 auto;
  left: 107px;
}

#hoverTest img{
  width: 100%;
}

h4 i{
  color: #B25B5B;
}

h6{
  color: #B25B5B; 
  font-weight: 600; 
  font-size: 17pt;

}

.link{
  width: 120px;
  padding: 10px;
}

.HeroContainer{
  width: 677px;
  height: 383px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  top: -619px;
}

.websiteana{
  width: 100%;
}


.bulk{
  max-width: 1000px;
}

.role3{
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

.role3 ol{
  font-size: 14pt;
}

.role4{
  text-align: right;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.role4 img{
  width: 90%;
}

#uinterview{
  padding-top: 50px;
}

#uinterview img{
  width: 90%;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #3d493d;
  font-size: 11pt;
  padding: 12px;
}

li{
text-align: left;

}

.personas{
  
}

.lipersona{
  width: 80%;

}


